body {
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}
#site_header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
#site_header img {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
nav a {
  padding-right: 80px;
  color: #2B2F26;
}
